.App {
  text-align: center;

  .list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
  }

  .picture-style {
    width: 50%;
  }
.power-list-style{
  list-style-type: none;
  padding:0px;

  .power-style {
    background-color: grey;
    color: white;
    width: 30%;
    border: 1px solid white;
    border-radius: 25px;
    margin: auto;
    font-weight: bold;
    text-transform: capitalize;
    padding: 2px;

    &:hover {
      background-color: violet;
    }
  }
}
}

.list-styles {
  list-style-type: none;
  border: 1px solid black;
  border-radius: 25px;
  margin: 5px;
  background-color: rgb(221, 236, 241);
  padding: 10px;

  .title-pokemon {
    text-transform: capitalize;
  }
}
